@model Editorial
@{
    ViewData["Title"] = "Crear editorial";
}

<h1>Crear Editorial</h1>
<div asp-validation-summary="ModelOnly"></div>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Sede" class="form-label">Sede</label>
        <input type="text" asp-for="Sede" class="form-control" />
        <span asp-validation-for="Sede" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}